.bg-main-ppk {
    background-color: #012D92;
}

.bg-secondary-ppk {
    background-color: #9ec5fe;
    color: black;
}

.btn-outline-ppk {
    --bs-btn-color: #012D92;
    --bs-btn-border-color: #012D92;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #012D92;
    --bs-btn-hover-border-color: #012D92;
    --bs-btn-focus-shadow-rgb: 1, 45, 146;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #012D92;
    --bs-btn-active-border-color: #012D92;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #012D92;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #012D92;
    --bs-gradient: none;
}