<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link type="text/css" href="/static/main/css/style.css" rel="stylesheet"/>
    <title>404</title>
</head>
<body>
<div class="container pt-5">
    <div class="row pt-5">
            <div class="text-center pt-5">
                <img src="/media/static_images/Logo.png" class="pt-5"/>
                <h1 class="pt-3">Страница не найдена!</h1>
                <h3 class="pt-3">Ошибка 404</h3>
            </div>
    </div>
</div>
</body>
</html>