{% extends 'main/layout.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="row justify-content-center pt-4">
    <div class="col-md-auto">
        <h1>Карта сайта</h1>
    </div>
</div>
<div class="row justify-content-center pt-4">
    <div class="col-md-auto">
        <a href="{% url 'home' %}" class="btn btn-primary bg-main-ppk mt-3 fs-3">Главная</a>
    </div>
</div>
<div class="row justify-content-center pt-4">
    <div class="col-md-6 text-center">
        <a href="{% url 'specialities' %}" class="btn btn-primary bg-main-ppk mt-3 fs-3">Специальности</a>
        <div class="pt-5">
            {% for spec in specialities %}

            <div class="col-sm-12 p-2">
                <a href="{% url 'specialty-detail' spec.id %}"
                   class="btn btn-primary bg-secondary-ppk mt-3 fs-3">{{ spec.title }}</a>
            </div>

            {% endfor %}
        </div>

    </div>
    <div class="col-md-6 text-center">
        <a href="{% url 'teachers' %}" class="btn btn-primary bg-main-ppk mt-3 fs-3">Преподаватели</a>
        <div class="pt-5">
        {% for teacher in teachers %}

        <div class="col-sm-12 p-2">
            <a href="{% url 'teacher-detail' teacher.id %}"
               class="btn btn-primary bg-secondary-ppk mt-3 fs-3">{{ teacher }}</a>
        </div>

        {% endfor %}
        </div>
    </div>
</div>


{% endblock %}